<h1>New prediction</h1>

<p class="form-prefix">What public company would you like to predict? Please enter a valid company ticker</p>

<form action="/learn" method="POST" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :ticker, @ticker %>
  <div class="input-group input-group">
    <input type="text" name="ticker" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Money Learn" class="btn btn-default">
    </span>
  </div>
</form>
